due=1

color.tag.erinnerung=cyan on gray2
color.project.birthday=white on rgb012
color.due=magenta

uda.rank.type=numeric
uda.rank.label=Priority

report.backlog.columns=id,rank,due.remaining,description.desc,project,due
report.backlog.labels=ID,Rank,Due,Description,Project,Due
report.backlog.sort=rank-,due+,project+
report.backlog.filter=status:pending and limit:page and project.not:current

report.next.columns=id,rank,due.remaining,description.desc,project,due
report.next.labels=ID,Rank,Due,Description,Project,Due
report.next.sort=rank-,due+,project+
report.next.filter=status:pending and (+next or due.before:now+1days)

report.list.columns=id,rank,due.remaining,description.desc,project,due
report.list.labels=ID,Rank,Due,Description,Project,Due
report.list.sort=rank-,due+,project+
